flows.json
[{"id":"a6f5d6d3.57c218","type":"tab","label":"Smart Agriculture System","disabled":false,"info":""},{"id":"12c4b4c3.57c63b","type":"ibmiot in","z":"a6f5d6d3.57c218","authentication":"apiKey","apiKey":"f1733a44.3950f8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456789","applicationId":"","deviceType":"Agriculture","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":290,"y":440,"wires":[["df3ba535.cbf708","8c2f3c08.f9a76","96a4b091.9da27"]]},{"id":"df3ba535.cbf708","type":"function","z":"a6f5d6d3.57c218","name":"Temperature Parser","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":360,"wires":[["f6caac53.403aa","63ea949f.f4ab4c"]]},{"id":"8c2f3c08.f9a76","type":"function","z":"a6f5d6d3.57c218","name":"Humidity Parser","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":440,"wires":[["577efce4.358624","4552f9a1.9fc4c8"]]},{"id":"96a4b091.9da27","type":"function","z":"a6f5d6d3.57c218","name":"Object Temperature Parser","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":520,"wires":[["b91f4d7d.71524","50f48a86.6018f4"]]},{"id":"f6caac53.403aa","type":"ui_text","z":"a6f5d6d3.57c218","group":"11bc0491.e851bb","order":4,"width":0,"height":0,"name":"Soil Temperature","label":"Soil Temperature(°C)","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":340,"wires":[]},{"id":"63ea949f.f4ab4c","type":"ui_gauge","z":"a6f5d6d3.57c218","name":"Soil Temperture Gauge","group":"11bc0491.e851bb","order":1,"width":0,"height":0,"gtype":"gage","title":"Soil Temperture","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":380,"wires":[]},{"id":"4552f9a1.9fc4c8","type":"ui_text","z":"a6f5d6d3.57c218","group":"11bc0491.e851bb","order":5,"width":0,"height":0,"name":"Humidity","label":"Humidity(%)","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":420,"wires":[]},{"id":"577efce4.358624","type":"ui_gauge","z":"a6f5d6d3.57c218","name":"Humidity Gauge","group":"11bc0491.e851bb","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":460,"wires":[]},{"id":"50f48a86.6018f4","type":"ui_text","z":"a6f5d6d3.57c218","group":"11bc0491.e851bb","order":6,"width":0,"height":0,"name":"Object Temperature","label":"Object Temperature(°C)","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":500,"wires":[]},{"id":"b91f4d7d.71524","type":"ui_gauge","z":"a6f5d6d3.57c218","name":"Object Temperature Gauge","group":"11bc0491.e851bb","order":3,"width":0,"height":0,"gtype":"gage","title":"Object Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":540,"wires":[]},{"id":"22a6d8d2.c0f738","type":"http request","z":"a6f5d6d3.57c218","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Sujangarh, IN&appid=3915e4f0f4ca8d57dc286f2260d8448e","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":120,"wires":[["f28e1f8e.48b71","8864a12d.231a2","ca55f95d.5273b8"]]},{"id":"cf776f38.a06bb","type":"inject","z":"a6f5d6d3.57c218","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":120,"wires":[["22a6d8d2.c0f738"]]},{"id":"f28e1f8e.48b71","type":"function","z":"a6f5d6d3.57c218","name":"Temperature Parser","func":"var temp=msg.payload.main.temp;\ntemp=temp-273.15;\nreturn{payload:temp.toFixed(2)};","outputs":1,"noerr":0,"x":620,"y":60,"wires":[["ce881168.7fc06","5cac80ec.857ed"]]},{"id":"8864a12d.231a2","type":"function","z":"a6f5d6d3.57c218","name":"Feels Like Parser","func":"var feels=msg.payload.main.feels_like;\nfeels=feels-273.15;\nreturn {payload:feels.toFixed(2)};","outputs":1,"noerr":0,"x":630,"y":140,"wires":[["9c63d611.bea458","2f3c3af7.4b80a6"]]},{"id":"ca55f95d.5273b8","type":"function","z":"a6f5d6d3.57c218","name":"Humidity Parser","func":"var Humidity=msg.payload.main.humidity;\nreturn {payload:Humidity};","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["c86298b4.c41dc8","eca0b8c0.117b38"]]},{"id":"ce881168.7fc06","type":"ui_text","z":"a6f5d6d3.57c218","group":"dc0a17f2.c77b78","order":4,"width":0,"height":0,"name":"Sujangarh's Temperature","label":"Sujangarh's Temperature(°C)","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":40,"wires":[]},{"id":"5cac80ec.857ed","type":"ui_gauge","z":"a6f5d6d3.57c218","name":"Sujangarh's Temperature Gauge","group":"dc0a17f2.c77b78","order":1,"width":0,"height":0,"gtype":"gage","title":"Sujangarh's Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":80,"wires":[]},{"id":"c86298b4.c41dc8","type":"ui_gauge","z":"a6f5d6d3.57c218","name":"Humidity Gauge","group":"dc0a17f2.c77b78","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":260,"wires":[]},{"id":"9c63d611.bea458","type":"ui_text","z":"a6f5d6d3.57c218","group":"dc0a17f2.c77b78","order":6,"width":0,"height":0,"name":"Feels Like","label":"Feels Like(°C)","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":120,"wires":[]},{"id":"2f3c3af7.4b80a6","type":"ui_gauge","z":"a6f5d6d3.57c218","name":"Feels Like Gauge","group":"dc0a17f2.c77b78","order":3,"width":0,"height":0,"gtype":"gage","title":"Feels Like Gauge","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":160,"wires":[]},{"id":"eca0b8c0.117b38","type":"ui_text","z":"a6f5d6d3.57c218","group":"dc0a17f2.c77b78","order":5,"width":0,"height":0,"name":"Humidity","label":"Humidity(%)","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":220,"wires":[]},{"id":"7469666f.0cb098","type":"ibmiot out","z":"a6f5d6d3.57c218","authentication":"apiKey","apiKey":"f1733a44.3950f8","outputType":"cmd","deviceId":"123456789","deviceType":"Agriculture","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":980,"y":680,"wires":[]},{"id":"cc3a1d9.9231ce","type":"ui_button","z":"a6f5d6d3.57c218","name":"MOTOR ON","group":"30937ea4.d62ac2","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":310,"y":620,"wires":[["d726c821.3ff948"]]},{"id":"e24cd35d.59e31","type":"ui_button","z":"a6f5d6d3.57c218","name":"MOTOR OFF","group":"30937ea4.d62ac2","order":2,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":300,"y":680,"wires":[["d726c821.3ff948"]]},{"id":"d726c821.3ff948","type":"function","z":"a6f5d6d3.57c218","name":"MOTOR STATUS CHECK","func":"if(msg.payload === true)\n    msg.payload = '{\"command\":\"ON\"}'\nelse\n    msg.payload = '{\"command\":\"OFF\"}'\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":640,"wires":[["ba340f1d.a312c","cca82b2a.7445c8"]]},{"id":"ba340f1d.a312c","type":"function","z":"a6f5d6d3.57c218","name":"Status","func":"var data=JSON.parse(msg.payload);\nmsg.payload=data.command;\nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":620,"wires":[["a6d24d0d.4a04a"]]},{"id":"cca82b2a.7445c8","type":"json","z":"a6f5d6d3.57c218","name":"MOTOR","property":"payload","action":"","pretty":false,"x":800,"y":680,"wires":[["7469666f.0cb098"]]},{"id":"a6d24d0d.4a04a","type":"ui_text","z":"a6f5d6d3.57c218","group":"30937ea4.d62ac2","order":2,"width":0,"height":0,"name":"","label":"MOTOR STATUS","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":620,"wires":[]},{"id":"f1733a44.3950f8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"v42u63.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"11bc0491.e851bb","type":"ui_group","z":"","name":"IBM Watson","tab":"10f76deb.84ff42","order":1,"disp":true,"width":"6","collapse":false},{"id":"dc0a17f2.c77b78","type":"ui_group","z":"","name":"Open Weather API","tab":"10f76deb.84ff42","order":2,"disp":true,"width":"6","collapse":false},{"id":"30937ea4.d62ac2","type":"ui_group","z":"","name":"Motor Control","tab":"ac0a0cb2.12d24","order":1,"disp":true,"width":"6","collapse":false},{"id":"10f76deb.84ff42","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ac0a0cb2.12d24","type":"ui_tab","z":"","name":"Controls","icon":"dashboard","disabled":false,"hidden":false}]